<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	 http://www.springframework.org/schema/aop
	  http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
	  http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	   http://www.springframework.org/schema/tx 
	   http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
	   http://www.springframework.org/schema/mvc 
	   http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd ">

	<!-- 扫描资源文件 -->
	<context:component-scan
		base-package="com.ambow.controller"></context:component-scan>
	<!-- 开启注解 -->
	<mvc:annotation-driven />


 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000"/>
    </bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 释放静态资源 -->
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />
	
	
	<!-- 配置拦截器 -->
<!-- 	<mvc:interceptors>
		<mvc:interceptor>

			<mvc:mapping path="/**" />
			<bean class="com.ambow.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>